<h1>Mushrooms</h1>
<h2> <%= @mushrooms.count %></h2>

<table class="blueTable">
  <% @mushrooms.columns.each do |mushroom| %>
    <th><%= mushroom.name %></th>
  <% end %>
  <tbody>    
    <% @mushrooms.each do |mushroom| %>
    <tr>
      <% @mushrooms.columns.each do |mushroomColumns| %>
        <td><%= mushroom["#{mushroomColumns.name}"] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>